<head>

    <link href="/static_media/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static_media/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src=/static_media/bootstrap/js/html5shiv.js"></script>
      <script src="/static_media/bootstrap/js/respond.min.js"></script>>
    <![endif]-->
    <!-- 60px to make the container go all the way to the bottom of the topbar -->
 <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #fff;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 50px auto;
        background-color: #f0f0f0;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Karnataka Learning Project</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                  <li><a href="#"> welcome: {% firstof user.first_name user.username%}</a></li>
                  <li><a href="{% url 'logout' %}" title="logout"> Logout</a></li>
                  <li><a href="{% url 'accounts_password_change' %}" title="ChangePassword"> ChangePassword</a></li>
                </div>
            </div>
        </div>
    </div>

{% block leftpart %}
    <div class="col-sm-4" style="margin-top: 50px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Panel</h3>
            </div>
            <div class="panel-body">
              Select the type of school
              <div class="addBound">
                <!-- Drop Down shows boundary types -->
                <select id="boundary_type" name="boundary_type">
                    <option value="">----</option>
                        {% for boundType in boundType_List %}
                            {% if session_sch_typ ==  boundType.id %}
                                    <option value="{{boundType.id}}" selected="true">{{boundType}}</option>
                                {% else %}
                                    <option value="{{boundType.id}}">{{boundType}}</option>
                                {% endif %}
                        {% endfor %}
                </select>
                <input type="hidden" name="entryView" id="id_entry_view" value="{{filter}}"/>
                <input type="hidden" name="homeView" id="id_home_view" value="{{home}}"/>
                <input type="hidden" name="prvSelNode" id="id_prvSelNode" value=""/>
                <input type="hidden" name="perm" id="id_perm_assign" value="{{permission}}"/>
                <input type="hidden" name="assessPerm" id="id_assess_perm_assign" value="{{assessmentpermission}}"/>
                <input type="hidden" name="urHere" id="id_urHere" value="{{urHere}}"/>
                <input type="hidden" name="shPerm" id="id_shPerm" value="{{shPerm}}"/>
                <input type="hidden" name="userSel" id="id_userSel" value="{{userId}}"/>
                <span style="{% if not filter %}display:none;{% endif %}">
                    <!-- Drop Down shows programmes -->
                    <select id="filtProg" name="filtProg">
                        <option value="None">--</option>
                        {% for prg in prgsList %}
                            <option value="{{prg.id}}">{{prg}}</option>
                        {% endfor %}
                    </select>
                    <!-- Drop Down shows Assessments -->
                    {% if assessmentpermission%}
                    <select id="filtAsmnt" name="filtAsmnt">
                        <option value="None">--</option>
                    </select>
                    {%endif%}
                </span>
            </div>


     {% if not shPerm %}
                {% if home and not filter%}
                    {% if user.is_superuser or user.is_staff %}
                    <div class="addBound" id="rootBoundary" style="display:none;">
                        <div class="boundLink">
                            <a href='/boundary/creator/' onclick="return KLP_View(this);" boundaryCategory="9" >Add Root Boundary <img src="{{ STATIC_URL }}images/boundary_add.gif" title="Add Boundary" /></a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% if programme %}
                    {% if user.is_superuser or user.is_staff %}
                        <div class="addBound" id="rootProgramme" style="display:none;">
                            <div class="boundLink">
                            <a href='/programme/creator/' onclick="return KLP_View(this);">Add Programme <img src="{{ STATIC_URL }}images/programme_add.gif" title="Add Programme" /></a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if 'Data Entry Executive' in usergroups or 'Data Entry Operator' in usergroups or user.is_superuser or user.is_staff%}
                <div class="addBound" style="margin:5px 0px;font-size:13px;">
                    <div class="boundLink">
                        {% if 'Data Entry Executive' in usergroups or user.is_superuser or user.is_staff %}
                            <a href='/home/' style="{% if home and not permission and not filter%}color:#75ad0a;{%endif%}">Home</a> |
                        {% endif %}

                        {% if user.is_staff or user.is_superuser%}
                            <a href='/home/?respType=programme' style="{% if programme%}color:#75ad0a;{%endif%}">Programme</a>   |
                        {% endif %}

                        {% if 'Data Entry Operator' in usergroups or 'Data Entry Executive' in usergroups or user.is_superuser  or user.is_staff%}
                            <a href='/home/?respType=filter' style="{% if filter and not permission and not assessmentpermission %}color:#75ad0a;{%endif%}">Filter By Programme</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if 'AdminGroup' in usergroups or user.is_superuser %}
                <div class="addBound" style="margin:5px 0px;font-size:13px;">
                    <div class="boundLink">
                        {% if user.is_superuser  %} <a href='/console/'>Admin Console </a> |{% endif %}
                        {% if 'AdminGroup' in usergroups or user.is_superuser %}
                            <a href="/accounts/auth/user/add/"> Create User</a> |
                            <a href="/home/?respType=userpermissions" style="{% if permission%}color:#75ad0a;{%endif%}"> Assign Permissions</a> |
                            <a href="/home/?respType=assessmentpermissions" style="{% if assessmentpermission%}color:#75ad0a;{%endif%}"> Assessment Permissions</a> |
                            <a href="/list/users/"> List Users</a> |  <a href="/KLP_activaterecords_form/">Activate Records</a>
                        {% endif %}
                        {% if user.is_superuser or 'AdminGroup' in usergroups %} | <a href='/audit/trial'>Audit Trial </a>{% endif %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
</div>
</div>
</div>
{% endblock %}

{% block midpart %}{% endblock %}

    {% if entry == "Add" %}
    </fieldset>
    {% else %}
    </div>
    {% endif %}
    </div>

</body>
