{% extends "index.html" %}  <!-- Extends Index.html -->
{% block leftpart%}{% endblock %}	<!-- Dont Show Left side part -->
{% block midpart %}    <!-- Middle Part Starts Here -->
<div style="width:90%">    
    {% if user.is_authenticated %}  
    	<!-- If User Already login show msg -->
        <div class="KLP_logUser">
            <span>Welcome {{user.username}} You are Already Logged in !  </span>            
        </div>
    {% else %}
        <!-- else show form -->
    <form method="post" action="/login/" class="niceform">{% csrf_token %}
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="300">
            <tbody>
                <tr>
                    <td bgcolor="#BFBF30" align="center" colspan="2"><span class="KLP_Log_Head">Login</span></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">&nbsp;</td>
                </tr>
                {% if form.non_field_errors %}
                    <!-- Form is not valid show message -->
                    {% for each in form.non_field_errors %}
                        <tr>
                            <td colspan="2" bgcolor="#FFF8C6"><span class="editErr">{{form.non_field_errors}}</span></td>
                        </tr>  
                    {% endfor %}
                    <tr>
                        <td align="center" colspan="2">&nbsp;</td>
                    </tr>              
                {% endif %}
                <tr>
                    {% if form.username.errors %}
                        <td colspan="2">{{form.username.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>User Name</td>
                    <td>{{form.username}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    {% if form.password.errors %}
                        <td colspan="2">{{form.password.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{form.password}}</td>
                </tr>
                <tr>
                    <td align="center" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                   <td align="center" colspan="2">
                        <input type="hidden" value="{{next}}" name="next" />
                        <input type="submit" value="Login" name="Submit" />&nbsp;&nbsp;
                        <input type="reset" value="Clear" />
                   </td>
                </tr>                
            </tbody>
        </table>
    </form>
    {% endif %}
</div>    
{% endblock %}
<!-- Middle Part Ends Here -->
